Repository hyperlane-xyz/abacus-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yorhodes, @asaj, @tkporter, @jmrossy, @nambrot, @mattiecnvr, @Skunkchain

update comment
  typescript/sdk/src/gas/adapters/SealevelIgpAdapter.ts
Owners: @yorhodes, @jmrossy

export SealevelIgpAdapter
  typescript/sdk/src/index.ts
Owners: @yorhodes, @jmrossy

test: add test case for warp route extension with same config
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

fix: warp extend retry
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

update helpers
  typescript/infra/src/config/funding/balances.ts
  typescript/infra/src/funding/alerts.ts
  typescript/infra/src/funding/balances.ts
Owners: @tkporter, @asaj, @mattiecnvr

address nits
  typescript/infra/scripts/funding/update-balance-thresholds.ts
  typescript/infra/src/funding/balances.ts
Owners: @tkporter, @asaj, @mattiecnvr

edit comment
  typescript/infra/scripts/funding/update-balance-thresholds.ts
Owners: @tkporter, @asaj, @mattiecnvr

fix write-alert.ts
  typescript/infra/scripts/funding/write-alert.ts
Owners: @tkporter, @asaj, @mattiecnvr

rewrit update-balance-thresholds
  typescript/infra/scripts/funding/update-balance-thresholds.ts
Owners: @tkporter, @asaj, @mattiecnvr

fix
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
Owners: @tkporter, @asaj, @mattiecnvr

nit
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
  typescript/infra/scripts/funding/write-alert.ts
Owners: @tkporter, @asaj, @mattiecnvr

fix promethues port forwarding
  typescript/infra/src/infrastructure/monitoring/prometheus.ts
Owners: @tkporter, @asaj, @mattiecnvr

add sonicscm to aler query templates
  typescript/infra/src/config/funding/alert-query-templates.ts
Owners: @tkporter, @asaj, @mattiecnvr

rerun to include berachain
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Owners: @tkporter, @asaj, @mattiecnvr

add validation
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
  typescript/infra/scripts/funding/write-alert.ts
  typescript/infra/src/config/funding/balances.ts
  typescript/infra/src/funding/balances.ts
Owners: @tkporter, @asaj, @mattiecnvr

add soon to templates
  typescript/infra/src/config/funding/alert-query-templates.ts
  typescript/infra/src/config/funding/grafanaAlerts.ts
Owners: @tkporter, @asaj, @mattiecnvr

refactor calculate-relayer-daily-burn
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
Owners: @tkporter, @asaj, @mattiecnvr

delete update-balance-thresholds
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
Owners: @tkporter, @asaj, @mattiecnvr

add more helpful logging
  typescript/infra/scripts/funding/update-balance-thresholds.ts
Owners: @tkporter, @asaj, @mattiecnvr

set threshold of numbers, instead of strings, calculate new daily burn
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalanceOverrides.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Owners: @tkporter, @asaj, @mattiecnvr

read sealevel burn using prom query, refactor code and reog files
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/read-alert-thresholds.ts
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
  typescript/infra/scripts/funding/write-alert.ts
  typescript/infra/src/funding/alerts.ts
  typescript/infra/src/funding/balances.ts
  typescript/infra/src/infrastructure/monitoring/grafana.ts
  typescript/infra/src/infrastructure/monitoring/prometheus.ts
Owners: @tkporter, @asaj, @mattiecnvr

feat(balances): Adjust balance and alert threhold automation process
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalanceOverrides.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/read-alert-thresholds.ts
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
  typescript/infra/src/config/funding/balances.ts
  typescript/infra/src/funding/grafana.ts
Owners: @tkporter, @asaj, @mattiecnvr

update relayer daily burn
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
Owners: @tkporter, @asaj, @mattiecnvr

only increasing updates to thresholds (no manual reductions)
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Owners: @tkporter, @asaj, @mattiecnvr

manual reductions
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Owners: @tkporter, @asaj, @mattiecnvr

fix: remove unneccessary `updateWarpRouteConfigWithNewAddresses` function
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

test: add test for preserving chain deployment config file when extending warp route
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: simplify warp route config extension in tests
  typescript/cli/src/tests/commands/helpers.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

test: remove .only from warp route config preservation test
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: simplify warp route extension and configuration handling
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/commands/helpers.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/configUtils.ts
Owners: @yorhodes, @jmrossy, @nambrot

fix: optimize hook module read in warp apply process by using provided config
  typescript/sdk/src/hook/EvmHookModule.ts
Owners: @yorhodes, @jmrossy

refactor: remove EvmHookReader on EvmHookModule and simplify hook module read method
  typescript/sdk/src/hook/EvmHookModule.ts
Owners: @yorhodes, @jmrossy

docs(changeset): Optimize HookModule.read() by removing redundant hook config derivation
  .changeset/eighty-planets-tan.md
Owners: @Skunkchain, @asaj

.github/CODEOWNERS:

# File extension owners

*.sol @yorhodes @asaj @tkporter
*.ts @yorhodes @jmrossy @nambrot
*.rs @mattiecnvr @tkporter @asaj
*.md @Skunkchain @asaj

# Package owners

## Contracts
solidity/ @yorhodes @asaj @tkporter

## Agents
rust/ @mattiecnvr @tkporter @asaj

## SDK
typescript/sdk @yorhodes @jmrossy

## Infra
typescript/infra @tkporter @asaj @mattiecnvr

## Submodules
typescript/token @yorhodes @jmrossy
typescript/helloworld @yorhodes
