Repository hyperlane-xyz/abacus-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yorhodes, @asaj, @tkporter, @jmrossy, @nambrot, @mattiecnvr, @Skunkchain

fix: Add altvm_contracts/ton to workspace
  altvm_contracts/ton/package.json
  package.json
Owners: none

Refactoring (#16)
  rust/main/Cargo.toml
  rust/main/agents/relayer/src/msg/metadata/base.rs
  rust/main/chains/hyperlane-ton/Cargo.toml
  rust/main/chains/hyperlane-ton/src/.gitignore
  rust/main/chains/hyperlane-ton/src/client/error.rs
  rust/main/chains/hyperlane-ton/src/client/fallback.rs
  rust/main/chains/hyperlane-ton/src/client/mod.rs
  rust/main/chains/hyperlane-ton/src/client/provider.rs
  rust/main/chains/hyperlane-ton/src/client/retrying.rs
  rust/main/chains/hyperlane-ton/src/contracts/aggregation_ism.rs
  rust/main/chains/hyperlane-ton/src/contracts/interchain_gas.rs
  rust/main/chains/hyperlane-ton/src/contracts/interchain_security_module.rs
  rust/main/chains/hyperlane-ton/src/contracts/mailbox.rs
  rust/main/chains/hyperlane-ton/src/contracts/merkle_tree_hook.rs
  rust/main/chains/hyperlane-ton/src/contracts/multisig_ism.rs
  rust/main/chains/hyperlane-ton/src/contracts/routing_ism.rs
  rust/main/chains/hyperlane-ton/src/contracts/validator_announce.rs
  rust/main/chains/hyperlane-ton/src/error.rs
  rust/main/chains/hyperlane-ton/src/lib.rs
  rust/main/chains/hyperlane-ton/src/signer/signer.rs
  rust/main/chains/hyperlane-ton/src/trait_builder.rs
  rust/main/chains/hyperlane-ton/src/traits/ton_api_center.rs
  rust/main/chains/hyperlane-ton/src/types/account_state.rs
  rust/main/chains/hyperlane-ton/src/types/message.rs
  rust/main/chains/hyperlane-ton/src/utils/constants.rs
  rust/main/chains/hyperlane-ton/src/utils/conversion.rs
  rust/main/chains/hyperlane-ton/src/utils/mod.rs
  rust/main/hyperlane-base/Cargo.toml
  rust/main/hyperlane-base/src/contract_sync/cursors/mod.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-base/src/settings/signers.rs
  rust/main/hyperlane-core/src/chain.rs
  rust/main/utils/run-locally/Cargo.toml
  rust/main/utils/run-locally/src/ton/deploy.rs
  rust/main/utils/run-locally/src/ton/mod.rs
  rust/main/utils/run-locally/src/ton/types.rs
Owners: @mattiecnvr, @tkporter, @asaj

feat: support for intents
  typescript/cli/src/config/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/intent/IntentCore.ts
  typescript/sdk/src/intent/types.ts
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/Token.test.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/adapters/ITokenAdapter.ts
  typescript/sdk/src/token/config.ts
  typescript/sdk/src/token/contracts/Hyperlane7683.ts
  typescript/sdk/src/token/contracts/Hyperlane7683__factory.ts
  typescript/sdk/src/token/contracts/common.ts
  typescript/sdk/src/token/types.ts
Owners: @yorhodes, @jmrossy, @nambrot

feat(sdk): extend IntentCore from WarpCore and simplify implementation
  typescript/sdk/src/index.ts
  typescript/sdk/src/intent/IntentCore.ts
  typescript/sdk/src/intent/types.ts
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy

fix(cli): exclude intents from cli
  typescript/cli/src/config/warp.ts
  typescript/cli/src/verify/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

chore(sdk): add back the gnosis export
  typescript/sdk/src/index.ts
Owners: @yorhodes, @jmrossy

fix(sdk): correct TS errors
  typescript/sdk/src/token/deploy.hardhat-test.ts
  typescript/sdk/src/token/types.test.ts
  typescript/sdk/src/token/types.ts
Owners: @yorhodes, @jmrossy

feat(sdk): Add intent adapters to return when `getHypAdapter` is called
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
Owners: @yorhodes, @jmrossy

feat: add factory from external dependency
  typescript/sdk/package.json
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/contracts/Hyperlane7683.ts
  typescript/sdk/src/token/contracts/Hyperlane7683__factory.ts
  typescript/sdk/src/token/contracts/common.ts
  yarn.lock
Owners: @yorhodes, @jmrossy

refactor: remove IntentCore and move logic into WarpCore
  typescript/sdk/src/index.ts
  typescript/sdk/src/intent/IntentCore.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/adapters/ITokenAdapter.ts
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy

fix: add missing value for native intents
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
Owners: @yorhodes, @jmrossy

chore: update lockfile
  yarn.lock
Owners: none

feat: `fillDeadline` doesn't need to be strict when estimating gas
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy

feat: pass fillDealine in constructor
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/adapters/ITokenAdapter.ts
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy

feat: use addressOrDenom and collateralAddressOrDenom for intents
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/types.ts
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy

feat: reverse instantiation ref
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy

feat(sealevel): Support claim tx via SealevelIgpAdapter
  typescript/sdk/src/gas/adapters/SealevelIgpAdapter.ts
  typescript/sdk/src/gas/adapters/serialization.ts
Owners: @tkporter

refactor: extract remote router and destination gas configuration functions
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: simplify warp route deployment and update logic
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

test: add TokenRouter unenrollment recovery test
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

test: add warp route deployment idempotency and enroll recovery tests
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

feat: export gasOverhead function from token config, and refactor warp apply remote routes and destination gas
  typescript/cli/src/deploy/warp.ts
  typescript/sdk/src/index.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: use const for extendedConfigs in warp route extension
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: simplify warp apply config extension in tests
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: extract remote router configuration logic
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: simplify warp route extension deployment logic
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

fix: clean warp deploy config written by read commands on test
  typescript/cli/src/tests/commands/helpers.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

test: remove remoteRouters and destinationGas from warp config after read in tests
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

test: remove config normalization in warp apply test
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

test: improve warp route extension test coverage
  typescript/cli/src/tests/commands/helpers.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: improve remote router enrollment logic in EvmERC20WarpModule
  typescript/sdk/src/token/EvmERC20WarpModule.ts
Owners: @yorhodes, @jmrossy

test: incomplete warp extension
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

test: update context creation with registryUris in warp route extension
  typescript/cli/src/tests/commands/helpers.ts
Owners: @yorhodes, @jmrossy, @nambrot

fix: registryUri to registryUris array
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: improve warp route extension with immutable config updates
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: modularize warp route extension with improved contract deployment logic
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

cleanup: destination gas and remote router setup on warp apply
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

refactor: improve error handling in warp route update logic
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @jmrossy, @nambrot

test: add tests for updating destination gas and remote routers in warp route configuration
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @yorhodes, @jmrossy, @nambrot

docs(changeset): Improved warp route extension and configuration handling
  .changeset/sour-schools-drum.md
Owners: @Skunkchain, @asaj

.github/CODEOWNERS:

# File extension owners

*.sol @yorhodes @asaj @tkporter
*.ts @yorhodes @jmrossy @nambrot
*.rs @mattiecnvr @tkporter @asaj
*.md @Skunkchain @asaj

# Package owners

## Contracts

solidity/ @yorhodes @asaj @tkporter
solidity/contracts/igps @tkporter
solidity/contracts/isms @asaj
solidity/contracts/middleware @yorhodes

## Agents

rust/ @mattiecnvr @tkporter @asaj
rust/agents/relayer @mattiecnvr
rust/agents/validator @asaj
rust/agents/scraper @mattiecnvr

rust/helm @tkporter @nambrot

## SDK

typescript/sdk @yorhodes @jmrossy
typescript/sdk/src/gas @tkporter
typescript/sdk/src/middleware @yorhodes
typescript/sdk/src/providers @jmrossy
typescript/sdk/src/deploy @yorhodes

## Apps
typescript/token @yorhodes @jmrossy
typescript/helloworld @nambrot

## Infra
typescript/infra @tkporter @nambrot @asaj
