Repository hyperlane-xyz/abacus-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yorhodes, @aroralanuk, @ltyu, @jmrossy, @tkporter, @daniel-savu, @ameten, @paulbalaji, @Mo-Hussain

.github/CODEOWNERS:

# File extension owners

*.sol @yorhodes @aroralanuk @ltyu
*.ts @yorhodes @jmrossy
*.rs @tkporter @daniel-savu @ameten

# Package owners

## Contracts
solidity/ @yorhodes @tkporter @aroralanuk @ltyu

## Agents
rust/ @tkporter @daniel-savu

## SDK
typescript/sdk @yorhodes @jmrossy @ltyu @paulbalaji

## CLI
typescript/cli @jmrossy @yorhodes @ltyu

## Infra
typescript/infra @tkporter @paulbalaji @Mo-Hussain

fix: Add altvm_contracts/ton to workspace
  altvm_contracts/ton/package.json
  package.json
Owners: none

Refactoring (#16)
  rust/main/Cargo.toml
  rust/main/agents/relayer/src/msg/metadata/base.rs
  rust/main/chains/hyperlane-ton/Cargo.toml
  rust/main/chains/hyperlane-ton/src/.gitignore
  rust/main/chains/hyperlane-ton/src/client/error.rs
  rust/main/chains/hyperlane-ton/src/client/fallback.rs
  rust/main/chains/hyperlane-ton/src/client/mod.rs
  rust/main/chains/hyperlane-ton/src/client/provider.rs
  rust/main/chains/hyperlane-ton/src/client/retrying.rs
  rust/main/chains/hyperlane-ton/src/contracts/aggregation_ism.rs
  rust/main/chains/hyperlane-ton/src/contracts/interchain_gas.rs
  rust/main/chains/hyperlane-ton/src/contracts/interchain_security_module.rs
  rust/main/chains/hyperlane-ton/src/contracts/mailbox.rs
  rust/main/chains/hyperlane-ton/src/contracts/merkle_tree_hook.rs
  rust/main/chains/hyperlane-ton/src/contracts/multisig_ism.rs
  rust/main/chains/hyperlane-ton/src/contracts/routing_ism.rs
  rust/main/chains/hyperlane-ton/src/contracts/validator_announce.rs
  rust/main/chains/hyperlane-ton/src/error.rs
  rust/main/chains/hyperlane-ton/src/lib.rs
  rust/main/chains/hyperlane-ton/src/signer/signer.rs
  rust/main/chains/hyperlane-ton/src/trait_builder.rs
  rust/main/chains/hyperlane-ton/src/traits/ton_api_center.rs
  rust/main/chains/hyperlane-ton/src/types/account_state.rs
  rust/main/chains/hyperlane-ton/src/types/message.rs
  rust/main/chains/hyperlane-ton/src/utils/constants.rs
  rust/main/chains/hyperlane-ton/src/utils/conversion.rs
  rust/main/chains/hyperlane-ton/src/utils/mod.rs
  rust/main/hyperlane-base/Cargo.toml
  rust/main/hyperlane-base/src/contract_sync/cursors/mod.rs
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/hyperlane-base/src/settings/signers.rs
  rust/main/hyperlane-core/src/chain.rs
  rust/main/utils/run-locally/Cargo.toml
  rust/main/utils/run-locally/src/ton/deploy.rs
  rust/main/utils/run-locally/src/ton/mod.rs
  rust/main/utils/run-locally/src/ton/types.rs
Owners: @tkporter, @daniel-savu

feat: support for intents
  typescript/cli/src/config/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/intent/IntentCore.ts
  typescript/sdk/src/intent/types.ts
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/Token.test.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/adapters/ITokenAdapter.ts
  typescript/sdk/src/token/config.ts
  typescript/sdk/src/token/contracts/Hyperlane7683.ts
  typescript/sdk/src/token/contracts/Hyperlane7683__factory.ts
  typescript/sdk/src/token/contracts/common.ts
  typescript/sdk/src/token/types.ts
Owners: @jmrossy, @yorhodes, @ltyu, @paulbalaji

feat(sdk): extend IntentCore from WarpCore and simplify implementation
  typescript/sdk/src/index.ts
  typescript/sdk/src/intent/IntentCore.ts
  typescript/sdk/src/intent/types.ts
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

fix(cli): exclude intents from cli
  typescript/cli/src/config/warp.ts
  typescript/cli/src/verify/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

chore(sdk): add back the gnosis export
  typescript/sdk/src/index.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

fix(sdk): correct TS errors
  typescript/sdk/src/token/deploy.hardhat-test.ts
  typescript/sdk/src/token/types.test.ts
  typescript/sdk/src/token/types.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

feat(sdk): Add intent adapters to return when `getHypAdapter` is called
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

feat: add factory from external dependency
  typescript/sdk/package.json
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/contracts/Hyperlane7683.ts
  typescript/sdk/src/token/contracts/Hyperlane7683__factory.ts
  typescript/sdk/src/token/contracts/common.ts
  yarn.lock
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

refactor: remove IntentCore and move logic into WarpCore
  typescript/sdk/src/index.ts
  typescript/sdk/src/intent/IntentCore.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/adapters/ITokenAdapter.ts
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

fix: add missing value for native intents
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

chore: update lockfile
  yarn.lock
Owners: none

feat: `fillDeadline` doesn't need to be strict when estimating gas
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

feat: pass fillDealine in constructor
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/adapters/EvmTokenAdapter.ts
  typescript/sdk/src/token/adapters/ITokenAdapter.ts
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

feat: use addressOrDenom and collateralAddressOrDenom for intents
  typescript/sdk/src/token/IToken.ts
  typescript/sdk/src/token/Token.ts
  typescript/sdk/src/token/types.ts
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

feat: reverse instantiation ref
  typescript/sdk/src/warp/WarpCore.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

feat(sealevel): Support claim tx via SealevelIgpAdapter
  typescript/sdk/src/gas/adapters/SealevelIgpAdapter.ts
  typescript/sdk/src/gas/adapters/serialization.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

refactor: extract remote router and destination gas configuration functions
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: simplify warp route deployment and update logic
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

test: add TokenRouter unenrollment recovery test
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

test: add warp route deployment idempotency and enroll recovery tests
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

feat: export gasOverhead function from token config, and refactor warp apply remote routes and destination gas
  typescript/cli/src/deploy/warp.ts
  typescript/sdk/src/index.ts
Owners: @jmrossy, @yorhodes, @ltyu, @paulbalaji

refactor: use const for extendedConfigs in warp route extension
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: simplify warp apply config extension in tests
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: extract remote router configuration logic
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: simplify warp route extension deployment logic
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

fix: clean warp deploy config written by read commands on test
  typescript/cli/src/tests/commands/helpers.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

test: remove remoteRouters and destinationGas from warp config after read in tests
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

test: remove config normalization in warp apply test
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

test: improve warp route extension test coverage
  typescript/cli/src/tests/commands/helpers.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: improve remote router enrollment logic in EvmERC20WarpModule
  typescript/sdk/src/token/EvmERC20WarpModule.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

test: incomplete warp extension
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

test: update context creation with registryUris in warp route extension
  typescript/cli/src/tests/commands/helpers.ts
Owners: @jmrossy, @yorhodes, @ltyu

fix: registryUri to registryUris array
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: improve warp route extension with immutable config updates
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: modularize warp route extension with improved contract deployment logic
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

cleanup: destination gas and remote router setup on warp apply
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: improve error handling in warp route update logic
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

test: add tests for updating destination gas and remote routers in warp route configuration
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

docs(changeset): Improved warp route extension and configuration handling
  .changeset/sour-schools-drum.md
Owners: none
