Repository hyperlane-xyz/abacus-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yorhodes, @aroralanuk, @ltyu, @jmrossy, @tkporter, @daniel-savu, @ameten, @paulbalaji, @Mo-Hussain

update comment
  typescript/sdk/src/gas/adapters/SealevelIgpAdapter.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

export SealevelIgpAdapter
  typescript/sdk/src/index.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

test: add test case for warp route extension with same config
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

fix: warp extend retry
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

update helpers
  typescript/infra/src/config/funding/balances.ts
  typescript/infra/src/funding/alerts.ts
  typescript/infra/src/funding/balances.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

address nits
  typescript/infra/scripts/funding/update-balance-thresholds.ts
  typescript/infra/src/funding/balances.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

edit comment
  typescript/infra/scripts/funding/update-balance-thresholds.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

fix write-alert.ts
  typescript/infra/scripts/funding/write-alert.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

rewrit update-balance-thresholds
  typescript/infra/scripts/funding/update-balance-thresholds.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

fix
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

nit
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
  typescript/infra/scripts/funding/write-alert.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

fix promethues port forwarding
  typescript/infra/src/infrastructure/monitoring/prometheus.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

add sonicscm to aler query templates
  typescript/infra/src/config/funding/alert-query-templates.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

rerun to include berachain
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Owners: @tkporter, @paulbalaji, @Mo-Hussain

add validation
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
  typescript/infra/scripts/funding/write-alert.ts
  typescript/infra/src/config/funding/balances.ts
  typescript/infra/src/funding/balances.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

add soon to templates
  typescript/infra/src/config/funding/alert-query-templates.ts
  typescript/infra/src/config/funding/grafanaAlerts.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

refactor calculate-relayer-daily-burn
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

delete update-balance-thresholds
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

add more helpful logging
  typescript/infra/scripts/funding/update-balance-thresholds.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

set threshold of numbers, instead of strings, calculate new daily burn
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalanceOverrides.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Owners: @tkporter, @paulbalaji, @Mo-Hussain

read sealevel burn using prom query, refactor code and reog files
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/read-alert-thresholds.ts
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
  typescript/infra/scripts/funding/write-alert.ts
  typescript/infra/src/funding/alerts.ts
  typescript/infra/src/funding/balances.ts
  typescript/infra/src/infrastructure/monitoring/grafana.ts
  typescript/infra/src/infrastructure/monitoring/prometheus.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

feat(balances): Adjust balance and alert threhold automation process
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalanceOverrides.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/read-alert-thresholds.ts
  typescript/infra/scripts/funding/update-balance-threshold-config.ts
  typescript/infra/src/config/funding/balances.ts
  typescript/infra/src/funding/grafana.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

update relayer daily burn
  typescript/infra/config/environments/mainnet3/balances/dailyRelayerBurn.json
Owners: @tkporter, @paulbalaji, @Mo-Hussain

only increasing updates to thresholds (no manual reductions)
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Owners: @tkporter, @paulbalaji, @Mo-Hussain

manual reductions
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
Owners: @tkporter, @paulbalaji, @Mo-Hussain

fix: remove unneccessary `updateWarpRouteConfigWithNewAddresses` function
  typescript/cli/src/deploy/warp.ts
Owners: @jmrossy, @yorhodes, @ltyu

test: add test for preserving chain deployment config file when extending warp route
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: simplify warp route config extension in tests
  typescript/cli/src/tests/commands/helpers.ts
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

test: remove .only from warp route config preservation test
  typescript/cli/src/tests/warp/warp-apply.e2e-test.ts
Owners: @jmrossy, @yorhodes, @ltyu

refactor: simplify warp route extension and configuration handling
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/commands/helpers.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/configUtils.ts
Owners: @jmrossy, @yorhodes, @ltyu, @paulbalaji

fix: optimize hook module read in warp apply process by using provided config
  typescript/sdk/src/hook/EvmHookModule.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

refactor: remove EvmHookReader on EvmHookModule and simplify hook module read method
  typescript/sdk/src/hook/EvmHookModule.ts
Owners: @yorhodes, @jmrossy, @ltyu, @paulbalaji

docs(changeset): Optimize HookModule.read() by removing redundant hook config derivation
  .changeset/eighty-planets-tan.md
Owners: none

.github/CODEOWNERS:

# File extension owners

*.sol @yorhodes @aroralanuk @ltyu
*.ts @yorhodes @jmrossy
*.rs @tkporter @daniel-savu @ameten

# Package owners

## Contracts
solidity/ @yorhodes @tkporter @aroralanuk @ltyu

## Agents
rust/ @tkporter @daniel-savu

## SDK
typescript/sdk @yorhodes @jmrossy @ltyu @paulbalaji

## CLI
typescript/cli @jmrossy @yorhodes @ltyu

## Infra
typescript/infra @tkporter @paulbalaji @Mo-Hussain
